@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amarillo: #ffed00;
  --verdeClaro: #2fac66;
  --verdeOscuro: #006633;
}

@font-face {
  font-family: 'MADE-TOMMY';
  src: url('../fonts/MADE_TOMMY_Bold_PERSONAL_USE.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'MADE-TOMMY';
  src: url('../fonts/MADE_TOMMY_Regular_PERSONAL_USE.otf') format('opentype');
  font-weight: normal;
}

body {
  font-family: 'MADE-TOMMY', sans-serif;
}

h1 {
  text-transform: uppercase;
}

.loader {
  height: 20px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side, #e8e8e8 90%, #9f9c9c00);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 15% 35%;
  animation: l43 1s infinite linear;
}

@keyframes l43 {
  0% {
    background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
  }

  16.67% {
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
  }

  33.33% {
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 50%, calc(3*100%/3) 50%
  }

  50% {
    background-position: calc(0*100%/3) 50%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 50%
  }

  66.67% {
    background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 100%, calc(3*100%/3) 0
  }

  83.33% {
    background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 100%
  }

  100% {
    background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
  }
}

.titulo-login {
  font-weight: bold;
  color: white;
  margin: 0;
  text-transform: uppercase;
}

p.slogan-login {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: small;
}

.slogan-login span {
  color: #2FD466;
}

.div-form {
  padding-top: 25px;
}

label.login {
  color: white;
  font-size: smaller;
  padding-left: 5px;
  margin: 5px 0px;
}

input.login {
  background-color: #0e3646;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  padding: 0 5px;
  font-size: 15px;
  color: white;
  font-weight: 100;
  width: 100%;
  height: 30px;
}

input.login:hover {
  border: 2px solid white;
  border-radius: 2px;
}

#email.login:-webkit-autofill,
#email.login:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px #00374d inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

#password.login:-webkit-autofill,
#password.login:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px #024057 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

input.login:focus-visible {
  outline: none;
  border-bottom: 2px solid white;
}

input.login:disabled {
  color: #bdbdbd;
  border-color: #bdbdbd;
}

.fondo-app {
  overflow-y: auto;
}

.btn-verde {
  display: inline-block;
  width: 100%;
  color: white;
  padding: 5px;
  letter-spacing: 1px;
  margin: 0px;
  font-weight: 100;
  text-align: center;
  background-color: var(--verdeOscuro);
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

p.registrarse {
  text-align: center;
  color: white;
  padding: 5px 0;
  font-size: small;
}

a.registrarse {
  color: #2FD466;
  font-weight: bold;
  letter-spacing: 0.7px;
}

a.registrarse:hover {
  text-decoration: underline;
}

.btn-verde:active,
.btn-verde:disabled {
  background-color: #0e462b;
  color: #cecece;
}

.carga {
  height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-login,
.error {
  color: #FF5526;
  font-size: small;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0;
  font-style: italic;
}

.error {
  color: red;
}

.bi-eye::before {
  font-size: 20px;
}

.bi-eye-slash::before {
  font-size: 20px;
}

.section-form {
  background-color: #00000075;
}

.nav-principal {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #7b7b7b;
  box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.1);
}

.lista-nav-principal {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.li-nav-principal {
  text-align: center;
  font-size: 11px;
}

.icono-home-nav {
  border: 6px solid #fff8a1;
  border-radius: 100%;
  width: 62px;
  position: relative;
  top: -4px;
}

.material-symbols-outlined {
  font-size: 27px;
}

.home {
  height: 78%;
  width: 95%;
  margin: auto;
  background: white;
  border-radius: 10px 10px 0 0;
}

.btn_user {
  display: flex;
  align-items: center;
}

.user_icon {
  font-size: 30px;
}

.box_user {
  position: absolute;
  top: 46px;
  background: white;
  box-shadow: 0px 9px 12px -2px rgba(0, 0, 0, 0.2);
}

.li_user {
  padding: 0 10px;
  text-align: start;
}

.btn-amarillo {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--amarillo);
  padding: 4px;
  border-radius: 0px;
}

.back {
  position: absolute;
  top: 16px;
}

/* Mapa */
.vista-map {
  height: 93vh;
  position: relative;
}

.header-map {
  height: 7vh;
  padding: 0 10px;
  background-color: var(--amarillo);
  display: flex;
  align-items: center;
  font-size: small;
}

button.gm-svpc {
  display: none;
}

.back-map {
  width: 43%;
}

.back-icon {
  font-size: 18px;
}

.logo-map {
  width: 14%;
}

.info-map {
  width: 43%;
  text-align: end;
}

.finish-map {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.label-base {
  display: block;
  margin: 5px 0;
  font-size: smaller;
  padding-left: 5px;
  color: #000;
}

.input-base {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 0 5px;
  font-size: small;
  color: #000;
  font-weight: 100;
  width: 100%;
}

.input-base:focus-visible {
  outline: none;
}

.fondo-blanco {
  background-color: white;
}

.slogan-form {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: small;
}

.slogan-form span {
  font-weight: bold;
  color: var(--verdeOscuro);
}

/* Tus Cultivos */

.box-cultivos {
  background-color: #fff;
  padding: 16px 8px;
  margin: 15px 0;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.container-wiki {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}

.box-wiki {
  display: flex;
  flex-direction: column;
  align-items: center
}

.nav-wiki {
  width: 80%;
  max-width: 200px;
  display: flex;
  border: 2px solid var(--amarillo);
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1);

}

.info-wiki p,
.text-wiki,
.perfil p {
  font-size: 13px;
  padding: 10px 0;
}

.back-wiki {
  position: fixed;
  width: 100%;
}

.btn-eye {
  position: relative;
  color: #fff;
  bottom: 25px;
  right: 5px;
}

.estadisticas {
  width: 50%;
  padding: 10px 0;
  margin: 5px;
  background-color: var(--verdeOscuro);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 27%);
  color: #fff;
}

.estadisticas p:first-of-type {
  font-weight: bold;
}

/* Mi Perfil */
.perfil {
  border-top: 2px solid var(--verdeOscuro);
  border-bottom: 2px solid var(--verdeOscuro);
  position: relative;
  top: 100px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 10px 15px;
}

.exp-piechart {
  padding-bottom: 90px;
  color: #8c8c8c;
  font-size: 11px;
  text-align: start;
}